<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container">
      <img
        class="img-fluid"
        id="banner"
        src="../static/banner.jpg"
        width=""
        height="320"
        alt=""
      />
      <h1 class="text-center mt-2 mb-4">{{company_name}} Career</h1>
      <div class="row" style="margin-bottom:16px">
      <div class="col-md-6">
        <p class="lead">
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>

        <div class="d-none d-md-block col-6">
          <img src="../static/people.jpg" style="height: 320px" />
        </div>
      </div>

      <h2 class="text-center">Open Position</h2>
      <p>{% for job in jobs %} {% include "jobitem.html" %} {% endfor %}</p>
      <div class="text-center">
        <a href="mailto:alemu.aser.tesfaye@gmail.com?subject=Question%20About%20Career&body=My%20question%20is%20%3Cyour%20question%20here%3E" class="btn btn-primary btn-lg">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html'%}
  </body>
</html>
